/* SPORT PAGE */

body {
    background-color: #111;
}

main {
    background: linear-gradient(0deg, rgba(55,55,107,1) 0%, rgba(89,193,57,1) 100%);
}

header {
    background-color: rgb(89, 193, 57); 
    border-radius: 0%;
}